# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://popnzconabjvzqpdwibi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBvcG56Y29uYWJqdnpxcGR3aWJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4MTY3NDUsImV4cCI6MjA3MDM5Mjc0NX0.yppkgRMRAv_kdRvHAXipisv6ZUIqpupB0_ZmE7lD-hw